* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-container {
    background-color: #f5f4dc;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px;
}

.header-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: aliceblue;
    font-size: 16px;
    color: black;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    align-items: center;  
}

.link-one:hover,
.link-two:hover,
.link-three:hover {
    text-decoration: underline;
    outline-color: initial;
}

.link-one {
    /* margin-right: 45px; */
    margin-left: 45px;
}

.link-two {
    margin-left: 45px;
}

.link-three {
    margin-left: 45px;
}
.logo {
    width: 80px;
    height: 80px; 
    margin-left: 150px;
    border-radius: 50%;
}

.description-container {
    display: flex;
    margin: 30px 0;
}

.description-items {
    display: flex;
    flex-direction: column;
    width: 100%;  
    align-items:  start;
    margin: 75px 100px;
    justify-content: center;
}

.title {
    margin: 5px 0;
    font-size: 48px;
    font-weight: 800;
}

.paragraph {
    font-size: 18px;
    margin: 5px 0;
}

.learn {
    margin: 5px 0;
    /* width: 100px; */
    color: #efede8;
    background-color: #005eff;
    border-radius: 4px;
    padding: 5px 15px;
}

.image2 {
    width: 500px;
    height: 380px;
    object-fit: contain;
    margin-right: 100px;
    border-radius: 10px;
}

.sect-two-container {
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: center;
    /* border: 2px solid red; */
}

.sect-two-header {
    margin: 40px;
    display: flex;
    justify-content: center;
    
}

.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

/* .story-one-container { */
    /* border: 2px solid red; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* width: 100%;
    height: auto; */
    /* margin-left: 80px; */
    /* flex-wrap: wrap; */
/* } */

.story-one-container,
.story-three-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: auto; */
    margin: 0 80px;
}


.pood-one,
.pood-two,
.pood-three {
    height: 300px;
    width: 200px;
    object-fit: contain;
}

.pood-one-text,
.pood-two-text,
.pood-three-text {
    margin: 0 40px;
   
}

.story-two-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* width: 25%; */
    /* flex-wrap: wrap; */
    
}

/* .story-three-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* width: 25%;
    height: auto;
    flex-wrap: wrap; */
    /* margin-right: 80px;
} */

.mid-sect {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    background-color: #006aff;
    height: 50rem;
    justify-content: center;
}

.quote {
    /* display: flex;
    justify-content: center; */
    font-size: 36px;
    color: white;

}

.signature {
    /* display: flex;
    justify-content: end; */
    /* border: 2px solid red; */
    margin-left: 63rem;
    margin-top: 8px;
    color: white;
}